@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>

    <style>
        #main {
            width: 70%;
            height: 100%;
            margin-top: 30px;
            margin-left: 150px;
            flex-wrap: nowrap; /*容器内项目换行方式*/
        }
                #top{
            color:burlywood;
            padding-bottom:30px;
            padding-top:10px;
        }
    </style>

</head>
<body>

    <div id="main">
        <div id="top">
            <label style="margin-bottom:10px;zoom:130%">
                第一步：输入要创建的题库的名称和类型，点击[创建]按钮，即可创建题库。
            </label>
            <label style="zoom:130%;">第二步：提示完成创建后，请您进入[题库列表]界面，点击[添加题目]可对题库进行编写。</label>
            <label style="zoom:130%;">第三步：点击[立即创建]按钮，即可完成题库的编写。</label>
        </div>
        <form class="layui-form layui-form-pane" action="">
            <div class="layui-form-item" style="margin-bottom:30px;">
                <label class="layui-form-label">题库名称：</label>
                <div class="layui-input-inline">
                    <input type="text" id="btnTopicName" lay-verify="required" placeholder="请输入题库的名称" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item" style="margin-bottom:30px;">
                <label class="layui-form-label">题库类型：</label>
                <div class="layui-input-inline">
                    <input type="text" id="btnCategory" lay-verify="required" placeholder="请输入题库的类型" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="site-demo-button" id="layerDemo" style="margin-bottom: 0;">
                <button id="btnAdd" type="submit" class="layui-btn" >立即创建</button>
            </div>
        </form>
    </div>

    <script>

        function bindEvent() {
            $('#btnAdd').on('click', AddTopic);

        }
        layui.use(['jquery', 'table', 'form'], function () {
            bindEvent();
        });

        function AddTopic() {
            if ($('#btnTopicName').val() == "" || $('#btnCategory').val() == "") {
                layui.layer.msg('请输入题库名称和类型');
                return;
            }
            var url='/TPaper/AddTopicByName';
            var Obj={
                Name: $('#btnTopicName').val(),               
                UserID: '@ViewBag.CurUserID',
                Category: $('#btnCategory').val()
            };

        function add(resp) {
            var obj = resp;
            if (obj.Status) {
                layui.layer.msg('创建题库成功！');  
            } else {
                layui.layer.msg('创建题库失败！');
            }
        };

            $.post(url,Obj,add);
        }

    </script>
</body>
</html>
